<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tetris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tetris.Eigenschaften.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tetris.Properties.Settings>
            <setting name="VolumeSoundtrack" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="VolumeMusic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MusicPath" serializeAs="String">
                <value />
            </setting>
        </Tetris.Properties.Settings>
        <Tetris.Eigenschaften.Settings>
            <setting name="Volume" serializeAs="String">
                <value>0.6</value>
            </setting>
        </Tetris.Eigenschaften.Settings>
    </userSettings>
</configuration>